---
import type { Article } from '../articles'
import Card from './Card.astro'

interface Props {
	article: Article
}

const { article } = Astro.props
---

<Card
	as='article'
	highlightLocation='top'
	image={{ src: article.image, alt: article.imageAlt }}
>
	<div class='card-text' slot='card-text'>
		<p class='card-author'>Artikel von {article.author} | {article.date}</p>
		<h2 class='card-title'>
			{article.title}
		</h2>
		<p class='card-desc'>
			{article.description}
		</p>
		<a
			class='card-source button'
			href={article.source}
			target='_blank'
			rel='noreferrer'>Weiter Lesen</a
		>
	</div>
</Card>
<style>
	.card-text {
		z-index: 10;
		display: grid;
		grid-gap: 7px;
		align-content: start;
	}

	.card-title {
		font-size: 2rem;
		font-weight: 500;
		color: var(--titleGray);
		line-height: 30px;
	}

	.card-desc {
		font-weight: 400;
		color: var(--paragGray);
		line-height: 1.7rem;
		margin-bottom: 5px;
	}

	.card-source {
		max-width: -webkit-max-content;
		max-width: -moz-max-content;
		max-width: max-content;
	}
	.card-author {
		color: var(--textMain);
	}
</style>
