---
import '../form.css'
import NavBarHeader from '../components/NavBarHeader.astro'
import NavBarFooter from '../components/NavBarFooter.astro'

interface Props {
	title: string
	description: string
	pageIdentifier: string
}

const { title, description, pageIdentifier } = Astro.props
---

<!doctype html>
<html lang='de'>
	<head>
		<meta charset='UTF-8' />
		<meta name='description' content={description} />
		<meta name='viewport' content='width=device-width, initial-scale=1.0' />
		<meta http-equiv='X-UA-Compatible' content='ie=edge' />
		<meta name='generator' content={Astro.generator} />
		<link
			href='https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&display=swap'
			rel='stylesheet'
		/>
		<link rel='shortcut icon' href='/waste-plastic.svg' type='image/x-icon' />
		<script
			src='https://kit.fontawesome.com/2970a66d13.js'
			crossorigin='anonymous'></script>
		<title>{title}</title>
	</head>
	<body>
		<NavBarHeader active={pageIdentifier} />
		<slot />
		<NavBarFooter active={pageIdentifier} />
	</body>
</html>
<style is:global></style>
